{% extends 'base.html' %}

{% block title %}PTS - Home{% endblock title %}

{% block homeactive %}active{% endblock homeactive %}

{% block body %}

<div class="container" style="margin-top:6.5rem;">
    <h2 class="my-3 text-center" style="color:purple;"><strong>Track The Patient Details</strong></h2>
    <form action="/search" method="get">{% csrf_token %}
        <div class="row w-75 mx-auto">
            <div class="alert alert-light w-75 mx-auto text-center text-danger shadow border-danger" role="alert">
                <b>Please make sure you are a existing user (doctor), without login search bar is not visible!</b>
            </div>
            {% if user.is_authenticated%}
            <div class="col-md-12 d-flex">
                <div class="input-group input-group-lg mb-3">
                    <input type="text" class="form-control" placeholder="Enter your Adhar No" name="query" id="query" required>
                    <button type="submit" class="btn text-light"
                        style="background-color:purple;">Search</button>
                </div>
            </div>
            {% endif %}
        </div>
    </form>
    <div class="row mt-5 shadow" style="background-color: white;border-radius: 5px;border:1px solid rgb(117, 2, 117);">
        <div class="col-md-5 my-auto">
            {% load static %}
            <img src="{% static 'img/doctor.png'%} " alt="" style="width:100%">
        </div>
        <div class="col-md-7 my-auto" style="color:purple;">
            <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rem corrupti ullam
                magnam modi deleniti accusamus tempora ad, esse, at quos id autem eos, maiores dolore soluta rerum
                officia. Quibusdam beatae maxime, id at deleniti incidunt odio rerum veritatis? Ab totam dolores quae
                autem blanditiis distinctio vel veniam dignissimos quisquam laborum provident officia illum quibusdam
                suscipit perspiciatis, fugit tenetur nulla consequuntur harum numquam qui facilis. Eos aspernatur
                corporis veniam necessitatibus amet corrupti animi, maxime veritatis sequi atque, ab, minus ut similique
                modi rem accusantium ducimus autem laboriosam dignissimos? Saepe, facere sed perspiciatis earum
                repudiandae debitis excepturi voluptate architecto veritatis sint, labore delectus reiciendis aliquid.
                Perspiciatis, ea nulla dolor eum labore ullam magni commodi dolorum pariatur. Eveniet quos ipsam eos
                molestiae veniam sint aperiam doloribus, sequi neque animi tempora dignissimos dicta pariatur architecto
                sit beatae officiis. Autem rem aut nostrum expedita corporis deleniti nisi eaque cum, cumque doloribus
                maxime, optio non.</p>
        </div>
    </div>

</div>
{% endblock body %}

{% block js %}{% endblock js %}