{% extends 'base.html' %}

{% block body %}
<div class="container" style="margin-top:6.5rem;">
    <h2 class="text-center" style="color:purple;"><strong>Search Result : {{query}}</strong></h2>
    {% if allDatas|length < 1 %} 
    <div style="margin-left:20%;font-size:20px;">
        <p>No search results</p>
        Your search query : <b>{{query}}</b> did not match any documents. <br>
        Suggestions:
        <ul>
            <li>Make sure that all words are spelled correctly.</li>
            <li>Try more general keywords.</li>
            <li> Try fewer keywords.</li>
            <li> Try different keywords.</li>
            </li>
        </ul>
    </div>

    {% endif %}
    {% for data in allDatas %}
    <hr>
    <p class="text-center border border-danger mx-auto my-2" style=" background-color:white;border-radius:5px;color:blue;width:58%;"><b style="color:darkblue;">Important Note :</b> Doctor can modify only <b>Health Details</b> of the patient, Other details cannot change!</p>
    <form action="/search" method="post">{% csrf_token %}
        <h4>Personal Details <span style="color:red;font-size: 15px;">
            (You can't modify this details...)</span></h4>
        <div class="card shadow-sm" style="border:1px solid purple;">
            <div class="row p-3">
                <div class="col-md-4 my-2">
                    <label class="form-label">First Name <span style="color:orangered"><strong>*</strong></span></label>
                    <input type="text" class="form-control" placeholder="Your name" name="fname" value="{{data.fname}}" required disabled>
                </div>
                <div class="col-md-4 my-2">
                    <label class="form-label">Middle Name<span style="color:orangered"><strong>*</strong></span></label>
                    <input type="text" class="form-control" placeholder="Father name" name="mname" value="{{data.mname}}" required disabled>
                </div>
                <div class="col-md-4 my-2">
                    <label class="form-label">Last Name<span style="color:orangered"><strong>*</strong></span></label>
                    <input type="text" class="form-control" placeholder="Sur name" name="lname" value="{{data.lname}}" required disabled>
                </div>
                <div class="col-md-8 my-2">
                    <label class="form-label">Email Id<span style="color:orangered"><strong>*</strong></span></label>
                    <input type="email" class="form-control" placeholder="abc@gmail.com" name="email" value="{{data.email}}" required disabled>
                </div>
                <div class="col-md-6 my-2">
                    <label class="form-label">Aadhaar Number<span
                            style="color:orangered"><strong>*</strong></span></label>
                    <input type="number" class="form-control" placeholder="1234-5678-9012" name="adharno" value="{{data.adharno}}" required disabled>
                </div>
                <div class="col-md-6 my-2">
                    <label class="form-label">Mobile Number<span
                            style="color:orangered"><strong>*</strong></span></label>
                    <input type="number" class="form-control" placeholder="1234567890" name="phone" value="{{data.phone}}" required disabled>
                </div>
                <div class="col-md-4 my-2">
                    <label class="form-label">Date Of Birth<span
                            style="color:orangered"><strong>*</strong></span></label>
                    <input type="text" class="form-control" placeholder="dd/mm/yy" name="dob" value="{{data.dob}}" required disabled>
                </div>
                <div class="col-md-4 my-2">
                    <label class="form-label">Age<span style="color:orangered"><strong>*</strong></span></label>
                    <input type="number" class="form-control" placeholder="age" name="age" value="{{data.age}}" required disabled>
                </div>
                <div class="form-group col-md-4 my-2">
                    <label class="form-label">Gender<span style="color:orangered"><strong>*</strong></span></label>
                    <select id="gender" class="form-control" name="gender" value="{{data.gender}}" required disabled>
                        <option>Choose...</option>
                        <option selected>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                <div class="form-group col-md-6 my-2">
                    <label class="form-label">Occupation<span style="color:orangered"><strong>*</strong></span></label>
                    <select id="inputGroupSelect" class="custom-select form-control" name="occupation" value="{{data.occupation}}" required disabled>
                        <option>Choose...</option>
                        <option>Agriculture</option>
                        <option>Buziness</option>
                        <option>Goverement Servant</option>
                        <option>Doctor</option>
                        <option>Professor</option>
                        <option>Employee</option>
                        <option>Labour</option>
                        <option selected>Student</option>
                    </select>
                </div>
                <div class="form-group col-md-6 my-2">
                    <label class="form-label">Marital Status<span
                            style="color:orangered"><strong>*</strong></span></label>
                    <select id="gender" class="custom-select form-control" name="maritalstatus" value="{{data.maritalstatus}}" required disabled>
                        <option>Choose...</option>
                        <option>Married</option>
                        <option selected>Unmarried</option>
                        <option>Divorcee</option>
                    </select>
                </div>
            </div>
        </div>
        <h4 class="mt-3">Religion Details <span style="color:red;font-size: 15px;">
            (You can't modify this details...)</span></h4>
        <div class="card shadow-sm p-3" style="border:1px solid purple;">
            <div class="form-group col-md-6 my-2">
                <label class="form-label">Religion<span style="color:orangered"><strong>*</strong></span></label>
                <select id="gender" class="custom-select form-control" name="religion" value="{{data.religion}}" required disabled>
                    <option>Choose...</option>
                    <option selected>Hindu</option>
                    <option>Muslim</option>
                    <option>Jain</option>
                    <option>Buddhist</option>
                    <option>Christian</option>
                    <option>Parsi</option>
                    <option>Sikh</option>
                    <option>Jews</option>
                </select>
            </div>
        </div>
        <h4 class="mt-3">Address Details <span style="color:red;font-size: 15px;">
            (You can't modify this details...)</span></h4>
        <div class="card shadow-sm p-3" style="border:1px solid purple;">
            <div class="row">
                <div class="form-group col-md-6 my-2">
                    <label class="form-label">Address<span style="color:orangered"><strong>*</strong></span><span
                            style="color:red;font-size: 13px;">
                            (Permanant or correspondance address)</span></label>
                    <input type="text" class="form-control" placeholder="Enter your address" name="address" value="{{data.address}}" required disabled>
                </div>
                <div class="form-group col-md-6 my-2">
                    <label class="form-label">State<span style="color:orangered"><strong>*</strong></span></label>
                    <input type="text" class="form-control" placeholder="Enter your state" name="state" value="{{data.state}}" required disabled>
                </div>
                <div class="form-group col-md-6 my-2">
                    <label class="form-label">District<span style="color:orangered"><strong>*</strong></span></label>
                    <input type="text" class="form-control" placeholder="Enter your district" name="district" value="{{data.district}}" required disabled>
                </div>
                <div class="form-group col-md-6 my-2">
                    <label class="form-label">Taluka<span style="color:orangered"><strong>*</strong></span></label>
                    <input type="text" class="form-control" placeholder="Enter your taluka" name="taluka" value="{{data.taluka}}" required disabled>
                </div>
                <div class="form-group col-md-6 my-2">
                    <label class="form-label">Village/City<span
                            style="color:orangered"><strong>*</strong></span></label>
                    <input type="text" class="form-control" placeholder="Enter your village/city" name="city" value="{{data.city}}" required disabled>
                </div>
                <div class="form-group col-md-6 my-2">
                    <label class="form-label">Pin Code<span style="color:orangered"><strong>*</strong></span></label>
                    <input type="number" class="form-control" placeholder="Enter your pincode" name="pincode" value="{{data.pincode}}" required disabled>
                </div>
            </div>
        </div>
        <h4 class="mt-3">Health Details</h4>
        <div class="card shadow-sm p-3" style="border:1px solid purple;">
            <div class="row">
                <div class="form-group col-md-4 my-2">
                    <label class="form-label">Are you a diabetes patient?<span
                            style="color:orangered"><strong>*</strong></span></label>
                    <select id="gender" class="custom-select form-control" name="diabetes" value="{{data.diabetes}}" required>
                        <option>Choose...</option>
                        <option>Yes</option>
                        <option selected>No</option>
                    </select>
                </div>
                <div class="form-group col-md-4 my-2">
                    <label class="form-label">Are you a cancer patient?<span
                            style="color:orangered"><strong>*</strong></span></label>
                    <select id="gender" class="custom-select form-control" name="cancer" value="{{data.cancer}}" required>
                        <option>Choose...</option>
                        <option>Yes</option>
                        <option selected>No</option>
                    </select>
                </div>
                <div class="form-group col-md-4 my-2">
                    <label class="form-label">Mention Your blood Group?<span
                            style="color:orangered"><strong>*</strong></span></label>
                    <select id="gender" class="custom-select form-control" name="bloodgroup" value="{{data.bloodgroup}}" required disabled>
                        <option>Choose...</option>
                        <option>A+</option>
                        <option>B+</option>
                        <option selected>O+</option>
                        <option>AB+</option>
                    </select>
                </div>
                <div class="form-group col-md-4 my-2">
                    <label class="form-label">Other Diseases?<span
                            style="color:orangered"><strong>*</strong> (If not mention NA).</span></label>
                    <input type="text" class="form-control" placeholder="You can mention multiple" name="diseases" value="{{data.diseases}}" required>
                </div>
                <div class="form-group col-md-8 my-2">
                    <label class="form-label">Mention your vaccination status?<span
                            style="color:orangered"><strong>*</strong></span><span style="color:red;font-size: 13px;">
                            (If you choose booster, it means that you have completed above two vaccines
                            also.)</span></label>
                    <select id="gender" class="custom-select form-control" name="vaccinestatus" value="{{data.vaccinestatus}}" required>
                        <option>Choose...</option>
                        <option>Covidshield</option>
                        <option>Covaxin</option>
                        <option selected>Both</option>
                        <option>Booster</option>
                    </select>
                </div>
            </div>
        </div>
        {% endfor %}
        {% comment %} <div class="row">
            <div class="form-group col-md-5 my-5 mx-auto">
                <button type="submit" class="btn"
                    style="background-color: purple;color: white;width: 100%;"><strong>Update Details</strong></button>
            </div>
        </div> {% endcomment %}
    </form>
</div>

{% endblock body %}